body{
    margin:0px;
    padding:0px;   
}

html{
    scroll-behavior: smooth;
}

header{
    padding:5px;
    background-color: blue;
    background: #de3748;
    color:#fff;
    height:8vh;     
    position:fixed;
    top:0;
    width:100%;
    z-index:1000;
}


.logo{
    font-size:2rem;
    color:#fff;
    line-height: 40px;
    font-weight:bold;
    padding-left:10px;
}

nav{
    display:inline;
    float:right;
    margin-right:10px;
    width:100%;
    height:100%;
    margin-top: 5px;
    margin-left:10px;
   
}

nav ul{
    list-style: none;
    float:right;
}

nav ul li{
    display:inline-block;
    height:8vh;
}

.container{
    width:80vw;
    margin:auto;
}

nav ul li a{
    color:#000;
    text-decoration: none;
    font-size:1.2rem;
    padding:7px 13px;
    border-radius: 3px;
    text-transform:uppercase;
}

nav ul li a:hover{
    background-color: rgba(255,255,255,0.3);   
    transition: .5s;
    height:100%;
}

#about-page{
    padding:5rem;
    height:30vh !important;
    background-color: #770099;
    color:#fff;
    margin-top:30px;
}

.about-section{
    display:flex;
    justify-content:space-evenly;
}

.about-desc{
   margin-right:50px;
   overflow-wrap: break-word;
}

.about-img{
    width:30vw !important;
    margin-right:30px;
}

@media screen and (max-width: 800px) {
    .about-section{
        flex-direction:column;
    }

    #about-page{
        height:110vh !important;
        margin-top:20px;
        padding: 5rem 1rem 5rem 2rem;
    }
}

.logos{
    margin:0.5rem;
}

.experience{
    margin:50px;
    padding-top:8vh;
}
.exprience h1{
 text-align:center;
 color:#f74470;
 margin-bottom:50px;
}

.exprience h1 .fa{
    font-size:50px;
    color:#5352d4;
   }

.experience h2{
    font-size:20px;
    margin-top:30px;
    color:#fff;
}

.education h1{
    text-align:center;
    color:#f74470;
    margin-bottom:50px;
   }
   
   .education h1 .fa{
       font-size:50px;
       color:#5352d4;
      }
   
   .education h2{
       font-size:20px;
       margin-top:30px;
       color:#fff;
   }

   .education{
    overflow-wrap: break-word;
   }

   .projects h1{
    text-align:center;
    color:#f74470;
   }
   
   .projects h1 .fa{
       font-size:50px;
       color:#5352d4;
      }
   
   .projects h2{
       font-size:20px;
       margin-top:30px;
       color:#fff;
   }

   .logos:hover{
       cursor: pointer;
       color:#e9072d !important;
   }

   .about-img{
       height: 200px;
       width:200px;
       
   }

 

   .about-section img{
       height:100%;
       width:100%;
       border-radius:50%;
   }

   div.card{
       position:relative;
       width:31%;
       margin:auto;
       min-height:300px; z-index: 1;    
   }

   section.cardsection{
       display:flex; z-index: 1
   }

   section.cardsection div.card div.front{
    position:absolute;
    width:100%;
    min-height:300px;
    background-color:#fff;
    border-radius:20px;
    color:#000;
    border:1px solid #aaa;
    box-shadow: 2px 2px #aaa;
    backface-visibility:hidden;
    transform: rotateY(0deg);
    perspective: 800px;
    transition: transform 0.4s; z-index: 1
}
   section.cardsection div.card div.back{
    box-sizing:border-box;
    padding:6px 5px;
    width:100%;
    min-height:300px;
    background-color:#ddd;
    border-radius:20px;
    color:#f74470;
    backface-visibility:hidden;
    transform: rotateY(180deg);
    perspective: 800px;
    position:absolute;
    transition: transform 0.4s; z-index: 1
   }

   div.back h2{
       color: #770099;
       text-align:center;
       font-style: italic;
       font-size: 40px;
   }

   div.back p{
    color: #770099;
    text-align:center;
    font-size: 1.5rem;
}

div.front div.project_title{
    color: #770099;  
    font-size: 20px;
}
   section.cardsection div.card:hover div.front{
       transform:perspective(600px) rotateY(-180deg);
   }

   
   section.cardsection div.card:hover div.back{
    transform:perspective(600px) rotateY(0deg);
}


footer{
    height:10vh;
    background-color: #ad00ff;
}

.checkbtn{
    font-size: 30px;
    color:white;
    float:right;
    line-height:8px;
    margin-right:40px;
    cursor:pointer;
    display:none;
}
 

#check{
    display:none;
}


@media(max-width:900px){
    label.logo{
        font-size:13px;
        padding-left:20px;
        font-style: italic;
    }

    nav ul li a{
        font-size: 16px;
        color: #fff;
        
    }

    nav{
        margin:0;
    }
}

@media(max-width:858px){
    .checkbtn{
        display:block;
    }

    ul{
        position: absolute;
        width:100%;
        height:100vh;
        background:#2c3e50;
        top:60px;
        left:-120%;
        text-align: center;
        transition:all .5s;
        z-index: 1000;
        float:none;
    }

    li{
        display: block  !important;;
    }

    nav ul li a{
        background:none;

    }

    nav ul li a:hover{
        background:none;
        color:#fff;

    }

    .cardsection{
        flex-direction: column;
        justify-content: space-evenly;
    }

    #check:checked ~ ul{
        left:0%;

    }

    div.card{
        position:relative;
        width:100%;
        margin: 20px auto;
        min-height:300px;     
    }

  
    


    div.front div.project_title{
        color: #770099;
        text-align:center;
        font-style: italic;
        font-size: 20px;
        margin:auto;
        vertical-align: middle;
    }
}


#education{
    background: linear-gradient(to right, #2980b7, #6dd5fa, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-left:50px;
    padding-top:8vh;
    color:#fff;
}

.socialMedia ul li a i.fa{
    position:fixed;
    right:-13%;
    width:15%;
    padding:20px;
    font-size:130%;
    z-index: 1000;
    color:#fff;
    border-radius: 10px 0 0 10px;
    box-shadow:2px 5px 5px #888;
    transition:right 0.8s,box-shadow 0.8s;
}

.socialMedia ul li a i.fa:hover{
    right:-5%;
    box-shadow:none;
}



.socialMedia ul li a i span{
    margin-left:20%
}

.socialMedia ul li a i.fa-google-plus{
    top:30%;
    background-color: #d34839;
}

.socialMedia ul li a i.fa-facebook{
    top:40%;
    background-color: #3b5998;
}

.socialMedia ul li a i.fa-twitter{
    top:50%;
    background-color: #4099ff;
}



